@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'poppins';
    src: url('@/assets/fonts/poppins.ttf') format('truetype');
}

body {
    font-family: poppins, serif;
}